.DS_Store
Thumbs.db

node_modules/
**/node_modules/
vendor/
**/vendor/
vendor.zip

.env
.env.*
!.env.example
laravel-app/.env
laravel-app/.env.*
!laravel-app/.env.example

dist/
build/
public/build/
server/public/
laravel-app/public/build/
laravel-app/public/hot
laravel-app/public/storage

laravel-app/storage/*
!laravel-app/storage/app/
!laravel-app/storage/app/.gitignore
!laravel-app/storage/app/private/
!laravel-app/storage/app/private/.gitignore
!laravel-app/storage/app/public/
!laravel-app/storage/app/public/.gitignore
!laravel-app/storage/framework/
!laravel-app/storage/framework/.gitignore
!laravel-app/storage/framework/cache/
!laravel-app/storage/framework/cache/.gitignore
!laravel-app/storage/framework/cache/data/
!laravel-app/storage/framework/cache/data/.gitignore
!laravel-app/storage/framework/sessions/
!laravel-app/storage/framework/sessions/.gitignore
!laravel-app/storage/framework/testing/
!laravel-app/storage/framework/testing/.gitignore
!laravel-app/storage/framework/views/
!laravel-app/storage/framework/views/.gitignore
!laravel-app/storage/logs/
!laravel-app/storage/logs/.gitignore

*.zip
*.tar.gz
*.sql
*.sqlite
*.sqlite3

.local/node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
maliart-payment-standalone/
attached_assets/
